<div class='flex'>
  <h1 class="font-bold text-4xl mb-4">Admin::Equipment</h1>
</div>

<div class="grid gap-2 grid-cols-1 xl:grid-cols-2">
  <div>
    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit vel dui quis rutrum. Mauris sollicitudin tincidunt diam. Donec et elementum felis. Vestibulum non porttitor sapien. Nam id neque sit amet mauris placerat ultricies.</p>
    
  </div>
  <div>
    <div class="flex justify-between pb-4">
      <div class="flex rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
        <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">        
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          </span>
        <input type="text" name="username" id="username" autocomplete="username" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Search...">
      </div>

      <%= link_to "Create Equipment", new_admin_equipment_path, class: "p-4 bg-indigo-400 text-white rounded-lg" %>
    </div>
    <ul class="grid grid-cols-1 gap-2 md:grid-cols-2">
      <% @equipment.each do |equipment| %>
        <li><%= render equipment %></li>
      <% end %>
    </ul>
  </div>
</div>